<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Document</title>
    <script>
        function conductMatching() {
            alert("Click on OK and the matching will begin \n Check similar_sku in Postgres!");

            fetch('/conduct_matching', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({}) // You can add more data here if needed
            })
            .then(response => {
                if (response.ok) {
                    console.log("Matching conducted successfully.");
                } else {
                    console.error("Error conducting matching.");
                }
            })
            .catch(error => {
                console.error("Request failed:", error);
            });
        }
    </script>
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <a class="btn btn-danger mr-2" href="{{ url_for('get_file_form') }}">Upload File</a>
            <a class="btn btn-warning mr-2" href="{{ url_for('get_search_in_typesense') }}">Search Products</a>
            <button class="btn btn-info" onclick="conductMatching()">Conduct Matching</button>
        </div>
    </div>
</body>
</html>