# Byte-compiled files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
v/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/

# IDE files
.idea/
*.iml

project/elektronika_products_20240802_123412.xml